In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("가중치데이터_최종.csv", index_col=0)
df

      시군   평균기온(°C)     지진위험도     태풍위험도  기업갯수      거래금액(만원)      감소추이
0    가평군  10.923333 -0.225015  0.532135    24  15387.633759 -0.559048
1    경산시  13.855000 -0.225015  0.992162   192  16654.888506 -0.643661
2    경주시  12.903778  0.921960  0.532135    98  14113.901760  0.400912
3    계룡시  10.216667 -0.225015 -0.418695    19  14780.884422  1.391972
4    고령군  12.822222  0.218245  0.992162    17  17663.963365 -0.204020
..   ...        ...       ...       ...   ...           ...       ...
104  홍천군   9.058889 -0.225015  0.992162    28   5884.744025  0.335132
105  화성시  12.516667 -0.225015 -0.418695   355  22948.540878 -0.133737
106  화순군  13.072500 -0.225015  1.022939    61   8033.240032  0.969973
107  화천군   9.272130 -0.225015  0.532135    14   5156.828758 -0.034772
108  횡성군  10.080000 -0.225015 -0.418695    14   6909.686655  6.091058

[109 rows x 7 columns]

In [3]:
df_rank = df.copy()

In [4]:
df_rank['전력사용량_rank'] = df_rank['감소추이'].rank()
df_rank['지진위험도_rank'] = df_rank['지진위험도'].rank(ascending=False)
df_rank['평균기온_rank'] = df_rank['평균기온(°C)'].rank(ascending=False)
df_rank['태풍위험도_rank'] = df_rank['태풍위험도'].rank(ascending=False)
df_rank['sw기업_rank'] = df_rank['기업갯수'].rank()
df_rank['거래금액_rank'] = df_rank['거래금액(만원)'].rank(ascending=False)

In [5]:
df_rank = df_rank[['시군', '전력사용량_rank', '지진위험도_rank', '평균기온_rank',
                   '태풍위험도_rank', 'sw기업_rank', '거래금액_rank']]
df_rank

      시군  전력사용량_rank  지진위험도_rank  평균기온_rank  태풍위험도_rank  sw기업_rank  거래금액_rank
0    가평군        12.0        80.0      100.0        31.0       28.5       45.0
1    경산시        11.0        80.0       11.0        11.5       80.0       44.0
2    경주시        68.0         1.0       44.0        31.0       66.0       48.0
3    계룡시        86.0        80.0      106.0        79.5       25.0       46.0
4    고령군        29.0        21.5       49.0        11.5       22.0       42.0
..   ...         ...         ...        ...         ...        ...        ...
104  홍천군        67.0        80.0      109.0        11.5       33.0       90.0
105  화성시        33.0        80.0       61.0        79.5       93.0       37.0
106  화순군        78.0        80.0       36.0         5.0       57.5       72.0
107  화천군        38.0        80.0      108.0        31.0       12.5       97.0
108  횡성군       106.0        80.0      107.0        79.5       12.5       80.0

[109 rows x 7 columns]

In [6]:
weights = [100, 10, 5, 2, 1, 0.5]
data_col = ['전력사용량_rank', '지진위험도_rank', '평균기온_rank',
            '태풍위험도_rank', 'sw기업_rank', '거래금액_rank']

In [7]:
for i in range(109):
    df_rank.loc[i, "최종점수"] = sum(df_rank.loc[i, data_col] * weights)

In [8]:
df_rank

,시군,전력사용량_rank,지진위험도_rank,평균기온_rank,태풍위험도_rank,sw기업_rank,거래금액_rank,최종점수
0,가평군,12.0,80.0,100.0,31.0,28.5,45.0,2613.0
1,경산시,11.0,80.0,11.0,11.5,80.0,44.0,2080.0
2,경주시,68.0,1.0,44.0,31.0,66.0,48.0,7182.0
3,계룡시,86.0,80.0,106.0,79.5,25.0,46.0,10137.0
4,고령군,29.0,21.5,49.0,11.5,22.0,42.0,3426.0
...,...,...,...,...,...,...,...,...
104,홍천군,67.0,80.0,109.0,11.5,33.0,90.0,8146.0
105,화성시,33.0,80.0,61.0,79.5,93.0,37.0,4675.5
106,화순군,78.0,80.0,36.0,5.0,57.5,72.0,8883.5
107,화천군,38.0,80.0,108.0,31.0,12.5,97.0,5263.0
108,횡성군,106.0,80.0,107.0,79.5,12.5,80.0,12146.5

In [9]:
df_rank.sort_values(by=['최종점수'], ascending=False).head(20)

,시군,전력사용량_rank,지진위험도_rank,평균기온_rank,태풍위험도_rank,sw기업_rank,거래금액_rank,최종점수
9,과천시,109.0,80.0,95.0,79.5,56.0,8.0,12394.0
108,횡성군,106.0,80.0,107.0,79.5,12.5,80.0,12146.5
98,평택시,105.0,80.0,48.0,79.5,71.0,21.0,11780.5
75,의정부시,103.0,80.0,83.0,79.5,72.0,11.0,11751.5
65,예산군,104.0,80.0,52.0,79.5,36.5,95.0,11703.0
97,태안군,108.0,38.0,55.0,79.5,36.5,86.0,11693.5
93,청주시,107.0,38.0,68.0,17.5,97.0,51.0,11577.5
30,동두천시,99.0,80.0,93.0,79.5,16.5,32.0,11356.5
31,목포시,101.0,80.0,13.0,79.5,70.0,49.0,11218.5
82,정읍시,98.0,80.0,46.0,79.5,53.0,96.0,11090.0
76,이천시,100.0,38.0,66.0,79.5,45.5,24.0,10926.5
50,순천시,97.0,80.0,10.0,17.5,77.0,53.0,10688.5
35,보은군,96.0,25.0,103.0,79.5,16.5,62.0,10571.5
88,창녕군,102.0,6.0,17.0,11.5,7.5,89.0,10420.0
7,고창군,93.0,80.0,28.0,31.0,16.5,106.0,10371.5
20,김제시,94.0,46.0,41.0,79.5,40.5,85.0,10307.0
40,산청군,95.0,18.5,71.0,79.5,22.0,101.0,10271.5
95,충주시,92.0,42.5,92.0,42.5,64.5,67.0,10268.0
15,구리시,90.0,80.0,43.0,79.5,57.5,2.0,10232.5
10,광명시,91.0,80.0,15.0,79.5,85.0,1.0,10219.5

In [64]:
df_rank.sort_values(by=['최종점수']).head(10)

,시군,전력사용량_rank,지진위험도_rank,평균기온_rank,태풍위험도_rank,sw기업_rank,거래금액_rank,최종점수
96,칠곡군,6.0,31.0,63.0,5.0,51.0,41.0,1306.5
47,세종특별자치시,1.0,80.0,64.0,31.0,92.0,27.0,1387.5
68,완주군,8.0,14.5,47.0,79.5,54.0,68.0,1427.0
56,안양시,2.0,80.0,33.0,79.5,103.0,5.0,1429.5
63,영암군,9.0,32.0,16.0,31.0,27.0,102.0,1440.0
101,하남시,3.0,80.0,23.0,79.5,88.0,12.0,1468.0
27,담양군,5.0,80.0,20.0,79.5,47.5,58.0,1635.5
94,춘천시,4.0,80.0,96.0,31.0,90.0,69.0,1866.5
89,창원시,13.0,27.5,3.0,79.5,100.0,50.0,1874.0
28,대구광역시,16.0,16.0,5.0,79.5,105.0,20.0,2059.0

In [10]:
weights = [20, 10, 5, 2, 1, 0.5]
data_col = ['전력사용량_rank', '지진위험도_rank', '평균기온_rank',
            '태풍위험도_rank', 'sw기업_rank', '거래금액_rank']

In [11]:
for i in range(109):
    df_rank.loc[i, "최종점수"] = sum(df_rank.loc[i, data_col] * weights)

In [15]:
df_rank.sort_values(by=['최종점수'], ascending=False).head(10)[['시군','최종점수']]

       시군    최종점수
9     과천시  3674.0
108   횡성군  3666.5
75   의정부시  3511.5
30   동두천시  3436.5
65    예산군  3383.0
98    평택시  3380.5
3     계룡시  3257.0
82    정읍시  3250.0
31    목포시  3138.5
97    태안군  3053.5

In [13]:
df_rank.sort_values(by=['최종점수']).head(10)

,시군,전력사용량_rank,지진위험도_rank,평균기온_rank,태풍위험도_rank,sw기업_rank,거래금액_rank,최종점수
63,영암군,9.0,32.0,16.0,31.0,27.0,102.0,720.0
28,대구광역시,16.0,16.0,5.0,79.5,105.0,20.0,779.0
68,완주군,8.0,14.5,47.0,79.5,54.0,68.0,787.0
96,칠곡군,6.0,31.0,63.0,5.0,51.0,41.0,826.5
89,창원시,13.0,27.5,3.0,79.5,100.0,50.0,834.0
77,익산시,26.0,4.0,45.0,31.0,69.0,81.0,956.5
100,포항시,28.0,2.0,25.0,79.5,83.0,56.0,975.0
78,인천광역시,15.0,9.0,74.0,79.5,104.0,47.0,1046.5
73,의령군,21.0,21.5,40.0,79.5,5.0,105.0,1051.5
91,청도군,27.0,25.0,42.0,11.5,10.0,83.0,1074.5

In [6]:
weights = [16, 8, 4, 2, 1, 0.5]
data_col = ['전력사용량_rank', '지진위험도_rank', '평균기온_rank',
            '태풍위험도_rank', 'sw기업_rank', '거래금액_rank']

In [7]:
for i in range(109):
    df_rank.loc[i, "최종점수"] = sum(df_rank.loc[i, data_col] * weights)

In [8]:
df_rank.sort_values(by=['최종점수'], ascending=False).head(10)[['시군','최종점수']]

       시군    최종점수
9     과천시  2983.0
108   횡성군  2975.5
75   의정부시  2856.5
30   동두천시  2787.5
65    예산군  2755.0
98    평택시  2752.5
82    정읍시  2652.0
3     계룡시  2647.0
31    목포시  2561.5
97    태안군  2490.5